In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [4]:
df = pd.read_csv("Google Course Python/lightening_follow_along/lightening strikes dataset.csv")

In [6]:
df.head(10)

         date  number_of_strikes center_point_geom
0  2018-01-03                194     POINT(-75 27)
1  2018-01-03                 41   POINT(-78.4 29)
2  2018-01-03                 33   POINT(-73.9 27)
3  2018-01-03                 38   POINT(-73.8 27)
4  2018-01-03                 92     POINT(-79 28)
5  2018-01-03                119     POINT(-78 28)
6  2018-01-03                 35   POINT(-79.3 28)
7  2018-01-03                 60   POINT(-79.1 28)
8  2018-01-03                 41   POINT(-78.7 28)
9  2018-01-03                119   POINT(-78.6 28)